.anime-AnimeHome-outer-wrapper {
    // background: rgb(252, 0, 0);
    background-image: url(../../../../../images/anime-bg-home-ten.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
    min-height: 100vh;

    
  .anime-AnimeHome-inner-wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 20% 50px 20% 20%;
    grid-template-rows: auto;
    grid-template-areas:
      'geners geners geners geners geners'
      'popular popular popular popular popular'
      'topairing topairing topairing topairing topairing';
  }
}


.anime-AnimeHome-outer-wrapper.slideshow{
    animation-name: slideshow;
    animation-duration: 60s;
    animation-iteration-count: infinite;

}

@keyframes slideshow {
    0%{background-image: url(../../../../../images/anime-bg-home-eleven.jpg);}
    20%{background-image: url(../../../../../images/anime-bg-home-twelve.jpg);}
    40%{background-image: url(../../../../../images/anime-bg-home-thirteen.jpg);}
    60%{background-image: url(../../../../../images/anime-bg-home-fourteen.jpg);}
    80%{background-image: url(../../../../../images/anime-bg-home-fifteen.jpg);}
    100%{background-image: url(../../../../../images/anime-bg-home-ten.jpg);}
}
