.movie-MoviePopular-outer-wrapper, .movie-MovieTopRated-outer-wrapper, .movie-MovieUpcoming-outer-wrapper{
    margin: 10% 0%;
}
.movie-MoviePopular-inner-wrapper, .movie-MovieTopRated-inner-wrapper,.movie-MovieUpcoming-inner-wrapper {
//   border: 2px solid white;
  display: flex;
  flex-wrap: wrap;
  max-width: 1920px;
  margin: 0px auto;
  // justify-content: space-between;
  .movie-MovieCard-outer-wrapper {
    // border: 2px solid red;
          position: relative;
    margin: 40px 10px 0 10px;
    width: 23.5%;
    // border-radius: 25px;

    .movie-MovieCard-inner-wrapper {
    // border-radius: inherit;
    //   border: 2px solid blue;

      .movie-MovieCard-image-wrapper {
    // border-radius: inherit;
        transform: perspective(400px) rotateY(10deg) scale(0.8);
        // transform:scale(0.8);
        // border: 2px solid green;
        width: 100%;
        height: 270px;
        background-position: center;
        background-size: cover;
          position: unset;

        .movie-MovieCard-rate {
          position: absolute;
        //   border: 2px solid white;
          color: white;
          top: -25px;
        //   left: 15px;
          background: rgb(0, 0, 90);
          padding: 0px 10px;
          font-weight: 600;
          .rate {
            color: orange;
          }
        }
      }
      .movie-MovieCard-image-wrapper:hover{
         cursor: pointer;
         border: 2px solid orange;
        transition: transform 1s;
         transform: perspective(400px) rotateY(0deg) scale(1);
      }
      .movie-MovieCard-info-wrapper {
        // border: 2px solid white;
        color: white;
        font-size: 15px;
        .movie-MovieCard-title {
          font-size: 20px;
        //   border: 2px solid white;
        }
        .movie-MovieCard-title:hover {
            cursor: pointer;
            color: orange;
        }
        .movie-MovieCard-genres-wrapper {
          .movie-MovieCard-genre {
          }
        }
        .movie-MovieCard-date {
        }
      }
    }
  }
}


@media screen and (max-width: 2000px) {
  .movie-MoviePopular-inner-wrapper, .movie-MovieTopRated-inner-wrapper,.movie-MovieUpcoming-inner-wrapper {
    // border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
    max-width: 2000px;
    .movie-MovieCard-outer-wrapper {
    //   border: 2px solid red;
      margin: 40px 10px 0 10px;
      width: 23.5%;

      .movie-MovieCard-inner-wrapper {

        .movie-MovieCard-image-wrapper {
          .movie-MovieCard-rate {
            // border: 2px solid white;
            .rate {
              color: orange;
            }
          }
        }
        .movie-MovieCard-info-wrapper {
        //   border: 2px solid white;
          color: white;
          font-size: 15px;
          .movie-MovieCard-title {
            font-size: 20px;
            // border: 2px solid white;
          }
          .movie-MovieCard-title:hover {
          }
          .movie-MovieCard-genres-wrapper {
            .movie-MovieCard-genre {
            }
          }
          .movie-MovieCard-date {
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1800px) {
  .movie-MoviePopular-inner-wrapper, .movie-MovieTopRated-inner-wrapper,.movie-MovieUpcoming-inner-wrapper {
    // border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
    .movie-MovieCard-outer-wrapper {
    //   border: 2px solid red;
      margin: 40px 10px 0 10px;
      width: 23.3%;

      .movie-MovieCard-inner-wrapper {
        .movie-MovieCard-image-wrapper {

          .movie-MovieCard-rate {
            // border: 2px solid white;
            color: white;
            .rate {
              color: orange;
            }
          }
        }
        .movie-MovieCard-info-wrapper {
        //   border: 2px solid white;
          color: white;
          font-size: 15px;
          .movie-MovieCard-title {
            font-size: 20px;
            // border: 2px solid white;
          }
          .movie-MovieCard-title:hover {
          }
          .movie-MovieCard-genres-wrapper {
            .movie-MovieCard-genre {
            }
          }
          .movie-MovieCard-date {
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1600px) {
  .movie-MoviePopular-inner-wrapper, .movie-MovieTopRated-inner-wrapper,.movie-MovieUpcoming-inner-wrapper {
    // border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    .movie-MovieCard-outer-wrapper {
    //   border: 2px solid red;
      margin: 40px 10px 0 10px;
      width: 31.3%;

      .movie-MovieCard-inner-wrapper {

        .movie-MovieCard-image-wrapper {

          .movie-MovieCard-rate {
            .rate {
              color: orange;
            }
          }
        }
        .movie-MovieCard-info-wrapper {
        //   border: 2px solid white;
          color: white;
          font-size: 15px;
          .movie-MovieCard-title {
            font-size: 20px;
            // border: 2px solid white;
          }
          .movie-MovieCard-title:hover {
          }
          .movie-MovieCard-genres-wrapper {
            .movie-MovieCard-genre {
            }
          }
          .movie-MovieCard-date {
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1300px) {
  .movie-MoviePopular-inner-wrapper, .movie-MovieTopRated-inner-wrapper,.movie-MovieUpcoming-inner-wrapper {
    // border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    .movie-MovieCard-outer-wrapper {
    //   border: 2px solid red;
      margin: 40px 10px 0 10px;
      width: 31%;

      .movie-MovieCard-inner-wrapper {
        // border: 2px solid blue;

        .movie-MovieCard-image-wrapper {
          .movie-MovieCard-rate {
            .rate {
              color: orange;
            }
          }
        }
        .movie-MovieCard-info-wrapper {
        //   border: 2px solid white;
          color: white;
          font-size: 13px;
          .movie-MovieCard-title {
            font-size: 17px;
            // border: 2px solid white;
          }
          .movie-MovieCard-title:hover {
          }
          .movie-MovieCard-genres-wrapper {
            .movie-MovieCard-genre {
            }
          }
          .movie-MovieCard-date {
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .movie-MoviePopular-inner-wrapper, .movie-MovieTopRated-inner-wrapper,.movie-MovieUpcoming-inner-wrapper {
    // border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    .movie-MovieCard-outer-wrapper {
    //   border: 2px solid red;
      margin: 40px 10px 0 10px;
      width: 30.5%;

      .movie-MovieCard-inner-wrapper {
        // border: 2px solid blue;

        .movie-MovieCard-image-wrapper {
          .movie-MovieCard-rate {
            .rate {
              color: orange;
            }
          }
        }
        .movie-MovieCard-info-wrapper {
        //   border: 2px solid white;
          color: white;
          font-size: 13px;
          .movie-MovieCard-title {
            font-size: 17px;
            // border: 2px solid white;
          }
          .movie-MovieCard-title:hover {
          }
          .movie-MovieCard-genres-wrapper {
            .movie-MovieCard-genre {
            }
          }
          .movie-MovieCard-date {
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .movie-MoviePopular-inner-wrapper, .movie-MovieTopRated-inner-wrapper,.movie-MovieUpcoming-inner-wrapper {
    // border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
    .movie-MovieCard-outer-wrapper {
    //   border: 2px solid red;
      margin: 40px 10px 0 10px;
      width: 46%;

      .movie-MovieCard-inner-wrapper {
        // border: 2px solid blue;

        .movie-MovieCard-image-wrapper {

          .movie-MovieCard-rate {
            .rate {
              color: orange;
            }
          }
        }
        .movie-MovieCard-info-wrapper {
        //   border: 2px solid white;
          color: white;
          font-size: 13px;
          .movie-MovieCard-title {
            font-size: 17px;
            // border: 2px solid white;
          }
          .movie-MovieCard-title:hover {
          }
          .movie-MovieCard-genres-wrapper {
            .movie-MovieCard-genre {
            }
          }
          .movie-MovieCard-date {
          }
        }
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .movie-MoviePopular-inner-wrapper, .movie-MovieTopRated-inner-wrapper,.movie-MovieUpcoming-inner-wrapper {
    // border: 2px solid white;
    display: flex;
    flex-wrap: wrap;

    .movie-MovieCard-outer-wrapper {
    //   border: 2px solid red;
      margin: 40px 10px 0 10px;
      width: 45%;

      .movie-MovieCard-inner-wrapper {
        // border: 2px solid blue;

        .movie-MovieCard-image-wrapper {

          .movie-MovieCard-rate {
            .rate {
              color: orange;
            }
          }
        }
        .movie-MovieCard-info-wrapper {
        //   border: 2px solid white;
          color: white;
          font-size: 13px;
          .movie-MovieCard-title {
            font-size: 17px;
            // border: 2px solid white;
          }
          .movie-MovieCard-title:hover {
          }
          .movie-MovieCard-genres-wrapper {
            .movie-MovieCard-genre {
            }
          }
          .movie-MovieCard-date {
          }
        }
      }
    }
  }
}

@media screen and (max-width: 590px) {
  .movie-MoviePopular-inner-wrapper, .movie-MovieTopRated-inner-wrapper,.movie-MovieUpcoming-inner-wrapper {
    // border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
    .movie-MovieCard-outer-wrapper {
    //   border: 2px solid red;
      margin: 40px 10px 0 10px;
      width: 100%;

      .movie-MovieCard-inner-wrapper {
        // border: 2px solid blue;

        .movie-MovieCard-image-wrapper {

          .movie-MovieCard-rate {
            .rate {
              color: orange;
            }
          }
        }
        .movie-MovieCard-info-wrapper {
        //   border: 2px solid white;
          color: white;
          font-size: 13px;
          .movie-MovieCard-title {
            font-size: 17px;
            // border: 2px solid white;
          }
          .movie-MovieCard-title:hover {
          }
          .movie-MovieCard-genres-wrapper {
            .movie-MovieCard-genre {
            }
          }
          .movie-MovieCard-date {
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .movie-MoviePopular-inner-wrapper, .movie-MovieTopRated-inner-wrapper,.movie-MovieUpcoming-inner-wrapper {
    // border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
    .movie-MovieCard-outer-wrapper {
    //   border: 2px solid red;
      margin: 40px 0 0 0;
      //   max-width: 100%;
      width: 100%;

      // display: ;
      .movie-MovieCard-inner-wrapper {
        // border: 2px solid blue;

        .movie-MovieCard-image-wrapper {

          .movie-MovieCard-rate {
            .rate {
              color: orange;
            }
          }
        }
        .movie-MovieCard-info-wrapper {
        //   border: 2px solid white;
          color: white;
          font-size: 13px;
          .movie-MovieCard-title {
            font-size: 15px;
            // border: 2px solid white;
          }
          .movie-MovieCard-title:hover {
          }
          .movie-MovieCard-genres-wrapper {
            .movie-MovieCard-genre {
            }
          }
          .movie-MovieCard-date {
          }
        }
      }
    }
  }
}
