.anime-Genres-outer-wrapper{
    grid-area: geners;
align-self: start;
   
    .anime-Genres-inner-wrapper{
            // border: 22px solid rgb(0, 4, 255);
            min-height: min-content !important;
        .anime-Genres-box{
            // border: 2px solid rgb(255, 0, 0);
            cursor: pointer;
            // border-radius: 20px;
            background: rgba(0, 0, 0, 0.904);
            color: white;
            margin: 5px;
            padding: 1px 15px;
            white-space: nowrap;
            font-size: 12px;
            font-weight: 500;
            // font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-family: 'Courier New', Courier, monospace;
        }
        .anime-Genres-box.active-genre{
            // border: 2px solid rgb(0, 4, 255);
            background: white;
            color: black;
            font-size: 17px;
            font-weight: 600;
        }
    }
   
}




// ****************************************
.anime-Genres-animes-box-outer-wrapper{
    // grid-area: gener-anime;
        // border: 2px solid green;
    .anime-Genres-animes-box-inner-wrapper{
        // border: 2px solid red;
        
    }

    .anime-Genres-bts-wrapper{
        display: grid;
    // justify-content: center;
    grid-template-columns: 100%;
    grid-template-rows: 5fr auto;
    grid-template-areas:
      'next'
      'previouse';
  
        .next{
            grid-area: next;
            // height: 100%;
            border: none;
            background: rgba(0, 0, 0, 0.5);
            color: white;
            flex-grow: 1;

        }
        .next .next-page{
                font-size: 30px;
            }
        .previouse{
            grid-area: previouse;
            height: 90px;
            border: none;
            background: rgba(0, 0, 0, 0.5);
            color: white;
            flex-grow: 1;
            

        }
        .previouse .previouse-page{
            font-size: 30px;
        }
    }
}



// ****************************************