.anime-Genres-outer-wrapper{
    grid-area: geners;
        .genre-text{
            color: white;
            font-size: 17px;
            font-family: 'Courier New', Courier, monospace;
        }
    .anime-Genres-inner-wrapper{
            // background: rgb(0, 0, 0);
            // border: 22px solid rgb(0, 4, 255);
        display: flex;
        overflow-x: auto;
        overscroll-behavior: contain;
        .anime-Genres-box{
            // border: 2px solid rgb(255, 0, 0);
            border-radius: 20px;
            background: rgb(0, 0, 0);
            color: white;
            margin: 5px;
            padding: 3px 17px;
            white-space: nowrap;
            font-size: 13px;
            font-weight: 500;
            // letter-spacing: 1px;
            // font-family: 'Courier New', Courier, monospace;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }
    .anime-Genres-inner-wrapper::-webkit-scrollbar{
        height: 5px;
    }
    .anime-Genres-inner-wrapper::-webkit-scrollbar-thumb{
        background: rgb(255, 255, 255);
        border-radius: 20px;
    }
}