.anime-NavigationAnime-outer-wrapper {
  background: rgb(0, 0, 0);
  padding: 3px 0 0 0;

  .anime-NavigationAnime-inner-wrapper {
    // border-bottom: 3px solid black;
    // padding: 3px 0px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: 'NavigationAnime-buttons NavigationAnime-search';
    // " ";
    justify-content: space-between;
    // flex-direction: column;
    // justify-content: space-between;
    max-width: 1920px;
    margin: 0 auto;
    .anime-NavigationAnime-buttons-wrapper {
      grid-area: NavigationAnime-buttons;
      display: flex;
      //   flex-wrap: wrap;
      .ani-nav-btn {
        // border: 2px solid red;
        color: white;
        text-decoration: none;
        margin: 0px 10px;
        padding: 0px 5px;
        font-size: 18px;
      }
      .anime-NavigationAnime-home-btn {
      }
      .anime-NavigationAnime-popular-btn {
      }
      .anime-NavigationAnime-top-airing-btn {
      }
    }
    .anime-NavigationAnime-search-wrapper {
      grid-area: NavigationAnime-search;
    }
  }
}


@media screen and (max-width: 450px) {
  .anime-NavigationAnime-outer-wrapper {
    // text-align:  center;
    .anime-NavigationAnime-inner-wrapper {
      grid-template-areas:
        'NavigationAnime-buttons NavigationAnime-buttons'
        'NavigationAnime-search NavigationAnime-search';
      .anime-NavigationAnime-buttons-wrapper {
        // border: 2px solid red;
        justify-content:space-around;
        .ani-nav-btn {
          font-size: 14px;
        }
        .anime-NavigationAnime-home-btn {
        }
        .anime-NavigationAnime-popular-btn {
        }
        .anime-NavigationAnime-top-airing-btn {
        }
      }
        .anime-NavigationAnime-search-wrapper {
            margin: 5px 0 0 0 ;
        .anime-NavigationAnimeSearch-outer-wrapper {
          .anime-NavigationAnimeSearch-inner-wrapper {
            .anime-NavigationAnimeSearchInput-search-outer-wrapper {
              .anime-NavigationAnimeSearchInput-search-inner-wrapper {
                border-bottom: 1px solid rgb(255, 255, 255);
                // border-bottom: none;
                border-top: 1px solid rgb(255, 255, 255);
                #anime-NavigationAnimeSearchInput-input {
                    // padding: 0px 5px;
                }
                #anime-NavigationAnimeSearchInput-input::placeholder {
                    font-size: 30px;
                }
                .anime-NavigationAnimeSearchInput-icon {
                }
              }
            }
          }
        }
      }
    }
  }
}

// @media screen and (max-width: 350px) {
//   .anime-NavigationAnime-outer-wrapper {
//     .anime-NavigationAnime-inner-wrapper {
//       .anime-NavigationAnime-buttons-wrapper {
//         .ani-nav-btn {
//           font-size: 10px;
//         }
//         .anime-NavigationAnime-home-btn {
//         }
//         .anime-NavigationAnime-popular-btn {
//         }
//         .anime-NavigationAnime-top-airing-btn {
//         }
//       }
    
//     }
//   }
// }
