.anime-NavigationAnimeSearch-outer-wrapper{
    max-width: min-content;
    // width: auto;
    .anime-NavigationAnimeSearch-inner-wrapper{
        border: 2px solid red; 
        position: relative;
        
    }
}