.anime-NavigationAnimeHomeBtn-outer-wrapper {
  .anime-NavigationAnimeHomeBtn-innner-wrapper {
    .anime-NavigationAnimeHomeBtn-btn {
      //   border: 2px solid white;
      margin: 0 0 0 15px;
      padding: 1px 10px;
      color: white;
      text-decoration: none;
      font-size: 13px;
    }
  }
}
