.movie-MovieHomeSearch-search-outer-wrapper {
    //   border: 2px solid rgb(4, 252, 240);
  grid-area: movie-search-bar;
  position: relative;
  width: 100%;
  .movie-MovieHomeSearch-search-inner-wrapper {
  width: 100%;
    border-top: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    align-items: center;

    #movie-MovieHomeSearch-search-by-name {
  width: 100%;
      // background:rgb(255, 255, 255);
      background: transparent;
      border: none;
      outline: none;
    //   flex-grow: 1;
      font-size: 30px;
      color: rgb(252, 252, 252);
      padding: 0px 20px;
    //   border: 20px solid rgb(136, 0, 0);
      // width: 100%;
    }
    .movie-MovieHomeSearch-search-icon {
      cursor: pointer;
      font-size: 25px;
      color: white;
      padding: 0px 10px;
    }
  }
  .movie-MovieHomeSearch-search-dropdown-outer-wrapper {
    border: 2px solid pink;
    position: absolute;
    z-index: 111;
    left: 0;
    right: 0;
    max-height: 70vh;
    overflow: auto;
    overscroll-behavior: contain;
    .movie-MovieHomeSearch-search-dropdown-inner-wrapper {
            background: rgba(0, 0, 0, 0.986);
        .movie-MovieHomeSearch-search-dropdown-clear{
            cursor: pointer;
            color: white;
            text-align: center;
            font-size: 23px;
            letter-spacing: 10px;
            background: rgba(255, 0, 0, 0.397);
        }
        .movie-MovieHomeSearch-search-dropdown-clear:hover{
            background: rgba(255, 0, 0, 0.5);
            font-size: 20px;
        }
      .movie-MovieHomeSearch-movie-box-wrapper {
            cursor: pointer;
        // border-bottom: 2px solid green;
        color: WHITE;
        display: flex;
        gap: 10px;
        .movie-MovieHomeSearch-movie-image {
          width: 10%;
        }
        .movie-MovieHomeSearch-movie-info-outer-wrapper {
          .movie-MovieHomeSearch-movie-info-inner-wrapper {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            grid-template-areas: 
            "MovieHomeSearch-movie-title"
            "MovieHomeSearch-movie-overview"
            ;
            gap: 10px;
            .movie-MovieHomeSearch-movie-title {
                grid-area: MovieHomeSearch-movie-title;
              color: white;
              // color: orange;
              font-size: 20px;
              padding: 3px 0px 0px 0px;
            }
            .movie-MovieHomeSearch-movie-overview{
                grid-area: MovieHomeSearch-movie-overview;
                height: 50px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

            }
          }
        }
      }
      .movie-MovieHomeSearch-movie-box-wrapper:hover{
        background: rgba(99, 99, 99, 0.5);
      }
    }
  }
}





