.popularAnimeCardWrapper {
  // border: 2px solid rgb(20, 9, 9);
  width: 150px;
  margin: 10px;
  .popularAnimeCardInnerWrapper {
    // border: 2px solid red;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    h2 {
      // border: 2px solid red;
      font-size: 13px;
      padding: 5px;
    }
    img {
      border-radius: inherit;
      width: 100%;
      object-fit: cover;
      height: 200px;
    }
  }
}
