.anime-AnimeEpisode-outer-wrapper {
  background-image: url(../../../../../images/anime-bg-detail-four.jpg);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: 100% 100%;
  background-attachment: fixed;
  min-height: 100vh;
  .anime-AnimeEpisode-inner-wrapper {
    border: 2px solid gray;
    // background: rgba(0, 0, 0, 0.226);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      'streaming-wrapper'
      'anime-info-wrapper';
    margin: 0 auto;
    max-width: 1920px;
// width: 100%;

    .anime-AnimeEpisode-streaming-outer-wrapper {
    //   border: 2px solid gray;
      grid-area: streaming-wrapper;
      .anime-AnimeEpisode-streaming-inner-wrapper {
        // border: 2px solid blue;

        .anime-AnimeEpisode-iframe-outer-wrapper {
        //   border: 2px solid green;
          width: 50%;
        padding: 15px;
          //   height: 50%;
          display: flex;
          flex-direction: column;
          margin: 0 auto;
          .anime-AnimeEpisode-go-to-detail-page {
            cursor: pointer;
            margin-bottom: 5px;
            color: orange;
          }
          .anime-AnimeEpisode-iframe-inner-wrapper {
            // border: 2px solid red;
            .vid {
              aspect-ratio: 16 / 9.15;
              display: block;
              width: 100%;
              margin: 0 auto;
            }
          }
          @media screen and (max-width: 1000px) {
            .vid {
              min-height: 265px;
            }
          }
        }
      }
    }
    .anime-AnimeEpisode-detail-outer-wrapper {
      grid-area: anime-info-wrapper;
      .anime-AnimeEpisode-detail-inner-wrapper {
        // border: 2px solid red;
        .anime-AnimeEpisode-imaga-area-wrapper {
            display: flex;
            flex-direction: column;
            max-width: 20%;
            float:left; 
            margin: 10px 20px 10px 10px; 
          .anime-AnimeEpisode-title {
            // border: 2px solid red;
            font-size: 25px;
            color: white;
          }
          .anime-AnimeEpisode-image {
            // border: 2px solid red;
          }
          .anime-AnimeEpisode-status {
            // border: 2px solid red;
            color: white;
            // float: right;
          }
          .anime-AnimeEpisode-ep-count{
            color: white;
          }
        }
        .anime-AnimeEpisode-synopsis {
        //   border: 2px solid red;
            color: rgb(165, 165, 165);
            font-family: 'Courier New', Courier, monospace;
            margin: 10px 20px 0px 10px; 
            padding: 10px 10px 10px 0px ;
          font-size: 25px;
            // font-weight: 600;
          // display: flex;
        //   float: right;
        //   letter-spacing: 1px;
        //   line-height: 15px;
        }
      }
    }
  }
}
