.anime-AnimeDetail-outer-wrapper {
  border: 3px solid orange;
  .anime-AnimeDetail-inner-wrapper {
    border: 3px solid red;
    .anime-AnimeDetail-infoBox {
      border: 3px solid blue;
    }
   
  }
}
